@font-face {
    font-family: "fontBold";
    src: url("../font/BasisGrotesquePro-Bold.ttf");
}

@font-face {
    font-family: "fontLight";
    src: url("../font/BasisGrotesquePro-Light.ttf");
}

@font-face {
    font-family: "fontRegular";
    src: url("../font/BasisGrotesquePro-Regular.ttf");
}

.font-bold {
    font-family: "fondBold";
}

.font-light {
    font-family: "fondLight";
}

#logo {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.logoName {
    font-size: 14px;
    margin: 0 7px;
    /* font-family: "fontBold"; */
    color: white;
}

.navbar-light .navbar-text a {
    color: rgba(0, 0, 0, 0.9);
    background-color: #00b7b7;
    border-color: #00b7b7;
    padding: 2px 8px;
}

.tryFree {
    color: white;
    font-size: 13px;
}

.navbar-nav .nav-item {
    margin: auto 7px;
}

.navbar-nav {
    margin: 0 auto;
}

.navbar-nav .nav-link {
    font-size: 13px;
    color: white;
}

.img-fluids {
    width: auto;
    height: 300px;
}

.background {
    height: 100vh;
    background-color: #321f68;
}

.header {
    background-color: #321f68;
}

#text {
    color: white;
}

.heading {
    display: flex;
    color: white;
}