@font-face {
    font-family: "fontBold";
    src: url("../font/BasisGrotesquePro-Bold.ttf");
}

@font-face {
    font-family: "fontLight";
    src: url("../font/BasisGrotesquePro-Light.ttf");
}

@font-face {
    font-family: "fontRegular";
    src: url("../font/BasisGrotesquePro-Regular.ttf");
}

.font-bold {
    font-family: "fondBold";
}

.font-light {
    font-family: "fondLight";
}

.heading h3 {
    font-size: 36px;
    font-weight: 700;
}

.heading p {
    font-size: 15px;
    font-weight: 500;
    color: #8e88a0;
}

.waves {
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 34vh;
}

.boxSized {
    background-color: white;
    border-radius: 17px;
    width: 87%;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
}

#logo {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.logoName {
    font-size: 14px;
    margin: 0 7px;
    /* font-family: "fontBold"; */
    color: white;
}

.navbar-light .navbar-text a {
    color: rgba(0, 0, 0, 0.9);
    background-color: #00b7b7;
    border-color: #00b7b7;
    padding: 2px 8px;
}

.tryFree {
    color: white;
    font-size: 13px;
}

.navbar-nav .nav-item {
    margin: auto 7px;
}

.navbar-nav {
    margin: 0 auto;
}

.navbar-nav .nav-link {
    font-size: 13px;
    color: white;
}

.bannerSection .background {
    height: 100vh;
    background-color: #321f68;
    /* height: 100%; */
}

.img-fluids {
    width: auto;
    height: 300px;
}

.svgIcon {
    width: auto;
    height: 98px;
    /* margin: auto; */
    filter: opacity(0.4);
}

.design,
#text {
    color: white;
}

#text {
    font-size: 11px;
    font-weight: 500;
}

.mar {
    margin: 50px auto;
    /* background-image: url('../img/wave.svg'); */
    display: flex;
}

.heading {
    margin: 30px auto;
}

.heading button {
    background-color: #00B7B7;
    margin: 10px 22px;
    font-size: 13px;
    padding: 16px 45px;
    font-weight: 500;
}

#email {
    background: #3e2c74;
    border: 1px solid #554584;
    color: white;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-radius: 4px;
    padding-right: 100px;
}

.doing {
    border: 1px solid #dadada;
    display: inline;
    padding: 14px 50px;
    border-radius: 7px;
    background: #f9f9f9;
    font-weight: 900;
    font-size: 25px;
}

.image {
    width: auto;
    height: 50px;
    margin: 20px auto;
}

.para {
    font-size: 12px;
    padding: 0 60px;
}

.image1 {
    width: auto;
    height: 250px;
    margin: auto;
}

.size {
    font-size: 13px;
    margin: 10px auto;
    text-transform: uppercase;
    color: #6c757d;
}

.sec {
    padding: 10% 0;
}

.sec1 {
    display: flex;
}

.smallImage {
    width: auto;
    height: 90px;
    border-radius: 50px;
    margin-bottom: 14px;
}

.sec1h5 {
    font-size: 30px;
    margin: 12px 0px;
    font-family: inherit;
}

.sec1p {
    font-size: 18px;
    color: #6c757d;
    font-family: sans-serif;
}

.tabsize {
    padding: 10px 15px;
}

.tab-a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
    font-weight: 700;
    font-size: 13px;
}

.nav-tabs .active {
    border: 1px solid #f1e5e5;
    padding: 10px 31px;
    background: #f6f6f6;
    border-radius: 6px;
}

.mobile {
    display: flex;
    margin: 15px 30px;
}

.mob {
    margin: 5px 16px;
    font-size: 12px;
    font-weight: 700;
    background-color: #ecebeb;
    padding: 3px 10px;
    border-radius: 5px;
}

.parking {
    padding: 20px 30px;
}

.mobileh5 {
    margin-bottom: 1px;
    font-size: 16px;
    font-weight: 700;
}

.mobileh6 {
    font-size: 13px;
}

.divStyle {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    margin: auto;
}

.roadImg {
    width: auto;
    height: 200px;
    border-radius: 5px;
}

.roadimgRow {
    margin: 7% auto;
}

.content {
    color: white;
    margin: 60px auto;
    text-align: center;
}

.pricing {
    background-image: url(../img/waves.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.pricingcurve {
    padding: 10% 0;
    display: flex;
    padding-bottom: 0;
}

.pricing1 {
    margin: auto;
    color: black;
    background: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-right: 0px;
}

.pricing2 {
    color: white;
    background: #772DC6;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.free {
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
    font-size: 35px;
}

.pricingh6 {
    font-size: small;
}

.tickicon {
    width: auto;
    height: 15px;
    padding: 0 10px;
}

.openplan {
    margin: 20px 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    background: #00B7B7;
    color: white;
    display: inline-block;
    padding: 0 20px;
    margin-left: 0;
}

.tryThis {
    text-align: center;
    border: 1px solid #F4F4F4;
    display: inline;
    margin: auto 74px;
    padding: 8px 35px;
    font-size: 15px;
    font-weight: 900;
    background: #F4F4F4;
    border-radius: 7px;
}

.tryThisDiv {
    margin: 27px auto;
}

.portfolioImg {
    width: 300px;
    height: auto;
    margin: auto;
}