/* Extra small devices (phones, 600px and down) */

body {
    overflow-x: hidden !important;
}

@media only screen and (max-width: 600px) {
    .background {
        height: 124vh !important;
        background-color: red;
    }
    .background {
        .enterEmail {
            text-align: center;
        }
    }
    .wavesSvg {
        display: none;
    }
    .icons {
        display: none;
        // .svgIcons {
        //     height: 40px !important;
        //     margin: 0;
        //     width: 100%;
        //     background-color: red;
        // }
    }
    .doing {
        h4 {
            padding: 10px !important;
        }
    }
    .marque {
        display: block !important;
        .svgIcons {
            height: auto;
            width: 54px;
            margin: auto 5%;
        }
    }
    .department {
        overflow-x: hidden !important;
    }
    .designProcess {
        overflow-x: hidden !important;
    }
    .freehoisting {
        overflow-x: hidden !important;
    }
    .pricingCard {
        overflow-x: hidden !important;
    }
    .designProcess2 {
        padding: 0 !important;
    }
    .pricingcurve {
        display: flex !important;
        overflow-x: hidden !important;
    }
    .pricing1,
    .pricing2 {
        margin: auto !important;
    }
    .smallDev {
        padding: 14% !important;
    }
    .centerImg {
        justify-content: center;
    }
    .designProcess {
        h3 {
            font-size: 21px !important;
        }
        p {
            font-size: 14px !important;
        }
        a {
            font-size: 12px !important;
        }
    }
    .works {
        font-size: 10px !important;
    }
    .foot {
        .centerDiv {
            margin: 0;
        }
    }
    .project {
        .eng {
            padding: 5px !important;
        }
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    // body {
    //     background-color: blue !important;
    // }
    body {
        overflow-x: hidden;
    }
    .marque {
        display: block;
    }
    // .pricingcurve {
    //     display: flex !important;
    // }
    // .pricing1,
    // .pricing2 {
    //     margin: auto !important;
    // }
    // .icons{
    //     display: none;
    // }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .icons {
        .svgIcons {
            margin: 15px 12px !important;
        }
    }
    .department {
        overflow-x: hidden !important;
    }
    .designProcess {
        overflow-x: hidden !important;
    }
    .freehoisting {
        overflow-x: hidden !important;
    }
    // body {
    //     background-color: green !important;
    // }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    body {
        overflow-x: hidden;
    }
    .icons {
        .svgIcons {
            margin: 20px 37px !important;
        }
    }
    // body {
    //     background-color: green !important
    // }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    body {
        overflow-x: hidden;
    }
    // body {
    //     background-color: paleturquoise !important
    // }
}

@media only screen and (min-width:767px) {
    body {
        overflow-x: hidden;
    }
    // body {
    //     background-color: yellow !important
    // }
}

@font-face {
    font-family: "fontBold";
    src: url("../font/BasisGrotesquePro-Bold.ttf");
}

@font-face {
    font-family: "fontLight";
    src: url("../font/BasisGrotesquePro-Light.ttf");
}

@font-face {
    font-family: "fontRegular";
    src: url("../font/BasisGrotesquePro-Regular.ttf");
}

body {
    overflow-x: hidden;
}

.navbar-nav {
    margin: auto;
}

nav {
    // div {
    //     a {
    .logoName {
        font-size: 16px;
        margin: auto 6px;
        font-weight: 700;
        color: white;
    }
    //     }
    // }
}

.navbar-nav {
    li {
        padding: 3px 8px;
        font-size: 10px;
    }
    a {
        span {
            color: white;
        }
    }
}

.navbar-text {
    a {
        background-color: #00B7B7;
        font-size: 11px;
        font-weight: 500;
        padding: 5px 17px;
    }
    span {
        color: white;
    }
}

nav {
    background-color: #321F68;
}

.background {
    background-color: #321F68;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-fluids {
    height: auto;
    width: 60%;
    object-fit: cover;
}

.heading {
    p {
        font-size: 14px;
        font-weight: 700;
        word-spacing: 1px;
        letter-spacing: 0.2px;
        padding: 25px 0;
        font-family: "fontLight";
        color: #A79FC0;
    }
}

.background {
    #email {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 85px;
        border-radius: 5px;
        background-color: #4A3686;
        border: 1px solid #7F71AA;
        color: white;
    }
}

.background {
    button {
        background-color: #00B7B7;
        padding: 16px 30px;
        margin: 7px 25px;
        font-size: 12px;
        font-weight: 500;
    }
}

.header {
    nav {
        padding-bottom: 5px;
    }
}

// .background::after {
//     content: "";
//     background-image: url('../img/wave.svg');
// }
.icons {
    .svgIcons {
        filter: opacity(0.5);
        margin: 20px 37px;
    }
    .sony {
        height: 100px;
        padding-bottom: 15px;
    }
}

.doing {
    display: flex;
    margin: 5% 0;
    h4 {
        margin: auto;
        border: 1px solid #e4e4e4;
        padding: 15px 32px;
        border-radius: 5px;
        font-weight: 800;
        font-size: 19px;
        background-color: #F6F6F6;
    }
}

.departmentImage {
    display: flex;
    img {
        height: auto;
        object-fit: cover;
        width: 20%;
        margin: 20px auto;
    }
}

.departmentTitle {
    h5 {
        text-align: center;
        font-size: medium;
        font-weight: 800;
    }
    p {
        text-align: center;
        font-size: small;
        color: #908d8d;
    }
}

.designProcessImg {
    width: 55%;
    height: auto;
    object-fit: cover;
    margin: auto;
}

.smallImg {
    width: 25%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.designProcess {
    h3 {
        margin: 15px auto;
        font-size: 23px;
        font-weight: 700;
    }
    h6 {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        color: #a99f9f;
    }
    p {
        color: #b3b1b1;
        font-weight: 500;
        margin: 22px 0px;
    }
    a {
        font-size: small;
        font-weight: 700;
        color: #00B7B7;
    }
}

.works {
    text-align: center;
    padding: 0 25%;
    font-size: 14px;
    font-weight: 500;
    margin: 3% auto;
    color: #8C8989;
}

.tabSection {
    display: flex;
    margin: 10px auto;
    .tabsize {
        padding: 10px 25px;
        a {
            font-weight: bold;
            font-size: 12px;
            color: #262626;
        }
        // a:active {
        //     border: 1px solid #e4e4e4;
        //     padding: 10px 22px;
        //     border-radius: 8px;
        // }
    }
}

.parachuteCardColumn {
    margin: 30px auto;
    .parachuteCard {
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
        border-radius: 7px;
        .parachuteImg {
            height: auto;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
        }
        .playbutton {
            position: relative;
            top: -17px;
            float: right;
            margin-right: 19px;
            width: auto;
            height: 33px;
        }
    }
    .parachute_1stDiv {
        position: relative;
        padding: 14px;
        .play_btn {
            cursor: pointer;
            display: flex;
            width: 40px;
            background-color: #5A3EAC;
            height: 40px;
            border-radius: 50px;
            position: absolute;
            right: 14px;
            top: -20px;
            svg {
                fill: #fff;
                margin: auto;
                width: 10px;
                height: 10px;
            }
        }
        h4 {
            font-size: 13px;
            font-weight: 700;
            margin-bottom: 3px;
        }
        h6 {
            font-size: 10px;
            color: #ABABAB;
        }
    }
    .parachute_2ndDiv {
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        h6 {
            margin: auto 12px;
            font-size: 10px;
            font-weight: 800;
        }
    }
}

.flexBox {
    display: flex;
}

.centerDiv {
    margin: auto;
}

.pricing {
    color: white;
}

.content {
    color: black;
    margin: 60px auto;
    text-align: center;
}

.pricing {
    background-image: url(../img/waves.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 247px;
}

.pricingcurve {
    display: flex;
    padding-bottom: 0;
    margin: 25px auto;
}

.pricing1 {
    margin: auto;
    color: black;
    background: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-right: 0px;
}

.pricing2 {
    color: white;
    background: #772DC6;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.free {
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
    font-size: 35px;
}

.pricingh6 {
    font-size: small;
}

.tickicon {
    width: auto;
    height: 15px;
    padding: 0 10px;
}

.openplan {
    margin: 20px 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    background: #00B7B7;
    color: white;
    display: inline-block;
    padding: 0 20px;
    margin-left: 0;
}

.tryThis {
    text-align: center;
    border: 1px solid #F4F4F4;
    display: inline;
    margin: auto 74px;
    padding: 8px 35px;
    font-size: 15px;
    font-weight: 900;
    background: #F4F4F4;
    border-radius: 7px;
}

.tryThisDiv {
    margin: 27px auto;
    height: 20px;
}

.pricingContent {
    text-align: center;
    color: white;
    background: #321F68;
    padding: 7%;
    h3 {
        font-size: 22px;
        margin: 15px auto;
    }
}

.about {
    h3 {
        font-size: 20px;
        font-weight: 700;
    }
    p {
        margin: 25px auto;
        color: #cac2c2;
    }
    h6 {
        font-size: 11px;
        font-weight: 700;
        color: #755EBA;
        margin: 30px auto;
    }
    a {
        font-size: 13px;
        font-weight: 700;
        color: black;
        border: 1px solid;
        font-size: 13px;
        font-weight: 700;
        color: black;
        border: 1px solid #e6e1e1;
        padding: 0 14px;
        padding: 4px 18px;
        margin: 0 7px;
    }
}

.clientSays {
    .clientCol {
        margin: 15px auto;
        display: flex;
    }
    .cut1 {
        margin: 0;
        height: 45px;
        width: 45px;
        background-color: #f5f5f5;
        position: absolute;
        top: 0px;
        left: 0;
    }
    img {
        width: 270px;
        height: auto;
        object-fit: contain;
    }
    .cut2 {
        margin: 0;
        height: 45px;
        width: 45px;
        background-color: #f5f5f5;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.project {
    h6 {
        font-size: 13px;
        color: #96E1E1;
        font-weight: 600;
    }
    h5 {
        color: white;
    }
    .projectCol {
        margin: 15px auto;
        display: flex;
    }
    button {
        padding: 9px 29px;
        margin: 7px 25px;
        border: 2px solid;
        font-size: 9px;
        background-color: #00B7B7;
        font-weight: bold;
    }
    .foot {
        padding: 5% 0;
        padding-bottom: 3%;
        .logoName {
            color: white;
            font-size: 15px;
            font-weight: 500;
            padding: 0 10px
        }
        p {
            color: #59506E;
            font-size: 11px;
            margin: 10px auto;
            font-weight: 600;
        }
        h6 {
            margin: 20px auto;
            color: white;
            font-weight: 500;
            font-size: 13px;
        }
    }
    .iconss {
        margin: auto 3px;
    }
    .eng {
        border: 0.5px solid #36343c;
        font-size: 9px;
        padding: 7px 17px;
        font-weight: 500;
        background-color: #30244A;
        border-radius: 4px;
        color: #756D86;
    }
    .fb {
        width: 22px;
        height: 22px;
    }
    .header {
        li :active {
            text-decoration: underline;
        }
    }
    .flexBoxCenter {
        display: flex;
        justify-content: flex-start;
    }
}

.icons {
    margin: auto 15px;
}

.actives {
    border: 1px solid #e4e4e4;
    padding: 10px 22px;
    border-radius: 8px;
}

.wavesSvg {
    background-image: url(../img/waves.svg);
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    background-size: cover;
}