@font-face {
  font-family: "fontBold";
  src: url("../font/BasisGrotesquePro-Bold.ttf");
}

@font-face {
  font-family: "fontLight";
  src: url("../font/BasisGrotesquePro-Light.ttf");
}
@font-face {
  font-family: "fontRegular";
  src: url("../font/BasisGrotesquePro-Regular.ttf");
}
#result > img:hover{
  width: 500px;
  height: 200px;
}

.img-fluid{
  width: auto;
    height: 75px;
    margin: 10px 5px;
}
.bold_font {
  font-family: "fontBold";
}

.Light_font {
  font-family: "fontLight";
}

.nav-tabs {
  border-bottom: 1px solid #d1d5d8;
  font-size: small;
}

.tabsize {
  padding: 0 15px;
}

a {
  color: black;
}

/* 
*{
  font-family: 'Roboto Mono', monospace;
}  */

.navbar {
  margin-bottom: 20px;
}

.top-left {
  display: grid;
  grid-template-columns: 22% 78%;
}

.top-right {
  display: grid;
  grid-template-columns: 69px 65px 109px 67px 108px;
  text-align: center;
}

.navigation {
  display: grid;
  grid-template-rows: 49% 51%;
}

#ocean {
  object-fit: cover;
  width: 100%;
  border-radius: 7px;
}

#boy {
  object-fit: contain;
  width: 70px;
  border-radius: 50%;
  height: 70px;
}

.profile {
  text-align: center;
  position: relative;
  bottom: 38px;
}

.centerDiv {
  /* filter: drop-shadow(-3px 7px 6px lightgrey);
    box-shadow: 0px 2px lightgrey; */
  box-shadow: 0px 0px 4px 0 rgba(51, 74, 192, 0.12), 0 10px 20px 0 rgba(51, 74, 192, 0.12);
  border: solid 1px rgba(51, 74, 192, 0.12);
  margin-bottom: 17px;
  border-radius: 7px;
}

h5 {
  font-size: 13px;
}

.personalInformation1 {
  display: grid;
  grid-template-columns: 97% 3%;
}

.personalInformation2 h6 {
  font-size: 11px;
  font-family: "fontLight";
}

h6 {
  font-size: 12px;
}

.personalInformation2 {
  display: grid;
  grid-template-columns: 7% 31% 7% 55%;
  word-break: break-all;
}

/* .visualPortfolio_1stDiv {
  display: grid;
  grid-template-columns: 8% 92%;
  font-size: 20px;
  grid-gap: 9px;
  margin: inherit;
} */

.visualPortfolio_2ndDiv {
  display: grid;
  grid-template-columns: 22% 78%;
}

.box {
  width: 82px;
  height: 82px;
  margin: 10px 21px;
  padding-right: 67px;
  border: 1px solid darkgrey;
}

.box1 {
  background-color: grey;
}

.box2 {
  background-color: #fbd3ce;
}

.box3 {
  background-color: #a0a0dc;
}

.box4 {
  background-color: #b1d1dc;
}

.box5 {
  background-color: greenyellow;
}

.box6 {
  background-color: #a0a0dc;
}

.box7 {
  background-color: green;
}

.box8 {
  background-color: rose;
}

.box9 {
  background-color: red;
}

.box10 {
  background-color: violet;
}

.box11 {
  background-color: blue;
}

.box12 {
  background-color: grey;
}

input.empty {
  font-family: FontAwesome;
  font-style: normal;
  width: 45%;
  font-weight: normal;
}

#image2 {
  width: 30px;
  height: 30px;
  position: relative;
  left: 33px;
  bottom: 5px;
}

.workingExperience {
  display: grid;
  grid-template-columns: 97% 3%;
  margin: inherit;
}

.workExperience_2ndDiv {
  display: grid;
  grid-template-columns: 11% 86% 3%;
}

.education {
  display: grid;
  grid-template-columns: 97% 3%;
  margin: inherit;
}

.EducationDiv {
  display: grid;
  grid-template-columns: 11% 86% 3%;
}

.expertise {
  display: grid;
  grid-template-columns: 92% 6% 2%;
}

.hSix {
  padding-left: 4px;
  padding-top: 3px;
  padding-right: 4px;
  background: #b3b3b3;
  margin-right: 7px;
  padding-bottom: 3px;
}

.background {
  display: flex;
  flex-wrap: wrap;
}

.col12 {
  margin-top: 6px;
}

.briefCase {
  border: 1px solid grey;
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  background: #d8d4d4;
  height: fit-content;
  width: fit-content;
  padding: 2px;
}

.icons {
  display: grid;
  color: #5d5757;
  text-align: center;
}

.navicons {
  margin: 0px 20px
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.bg-light {
  background-color: black!important;
}

.left {
  box-shadow: 0px 0px 4px 0 rgba(51, 74, 192, 0.12), 0 10px 20px 0 rgba(51, 74, 192, 0.12);
  border: solid 1px rgba(51, 74, 192, 0.12);
  border-radius: 7px;
}

.leftImage {
  object-fit: cover;
  width: 100%;
}

.leftDiv {
  margin: 20px auto;
  text-align: center;
}

.online {
  display: flex;
  font-size: 10px;
  align-items: center;
  color: green;
}

.search {
  border-radius: 0px;
  height: 27px;
  border: 1px solid #e6e9f7;
  font-family: FontAwesome;
  font-size: 12px;
}

.chats {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 5px auto;
}

i {
  color: #838383;
}